body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent), url('./assets/NU\ Background.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
